<app-user-preferences class="topContainer">
    <div class="topContainerDetails">
        <app-user-preferences-editor></app-user-preferences-editor>
        <h1>{{ time | formatInSpecifiedTimezone: 'UTC' }}</h1>
    </div>

    <div class="buttons">
        <button pButton (click)="container1show = !container1show">Toggle Container 1</button>
        <button pButton (click)="container2show = !container2show">Toggle Container 2</button>
        <button pButton (click)="updateTime()">Update Time to Now</button>
    </div>

    <div class="container">
        <section *ngIf="container1show">
            <h3>Container 1</h3>
            <app-user-preferences>
                <app-user-preferences-editor></app-user-preferences-editor>
                <div class="timeDisplay">
                    {{ time | formatInTimezone | async }}
                </div>
            </app-user-preferences>
        </section>

        <section *ngIf="!container1show">
            <h3>Container 1</h3>
            [HIDDEN]
        </section>

        <section *ngIf="container2show">
            <h3>Container 2</h3>
            <app-user-preferences>
                <div class="timeDisplay">
                    {{ time | formatInTimezone | async}}
                </div>
            </app-user-preferences>
        </section>

        <section *ngIf="!container2show">
            <h3>Container 2</h3>
            [HIDDEN]
        </section>

    </div>
</app-user-preferences>